---
import FormattedDate from '../../components/FormattedDate.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Pagination from '../../components/Pagination.astro';
import { PAGE_SIZE } from '../../../utils/consts';
import { getCollection } from 'astro:content';

const { lang } = Astro.params;
const today = new Date();
const { page }: { page: PageProps } = Astro.props;

interface Post {
  blog_slug: string;
  data: {
    heroImage: string | null | undefined;
    description: string;
    title: string;
    pubDate: Date;
  };
}

interface PageProps {
  data: Post[];
}

export async function getStaticPaths(
  {
    paginate,
  }: {
    paginate: (items: any[], options: { pageSize: number }) => any;
  },
  today = new Date()
) {
  const _posts = await getCollection('blog');
  const posts_filtered = _posts
    .filter((blog) => new Date(blog.data.pubDate) <= today)
    .map(post => ({
      ...post,
      blog_slug: post.id,
    }))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
  return paginate(posts_filtered, { pageSize: PAGE_SIZE });
}

---

<BaseLayout title="Blog" description="Blog" lang={lang} pubDate={today}>
  <section id="posts-list" class="max-w-screen-lg mx-auto px-10">
    <ul class="flex flex-col gap-8 list-none px-10">
      {
        page.data.map(
          (
            post: {
              blog_slug: any;
              data: {
                heroImage: string | null | undefined;
                description: string;
                title: unknown;
                pubDate: Date;
              };
            },
            index: number
          ) => (
            <li class="w-full sm:w-auto">
              <a href={`/blog/${post.blog_slug}`} class="block">
                <h4
                  class={`text-gray-800 font-bold text-4xl mb-2 hover:text-cyan-700 transition-colors duration-200`}
                >
                  {post.data.title}
                </h4>
              </a>
              <p class="text-gray-600 italic text-base mb-2">
                <FormattedDate date={post.data.pubDate} />
              </p>
              <p>
                {post.data.description}
                <a
                  href={`/blog/${post.blog_slug}`}
                  class="block font-semibold text-lg hover:text-cyan-700 transition-colors duration-200"
                >
                  Leer más
                </a>
              </p>
              {index < page.data.length - 1 && <hr class="my-4 border-gray-300" />}
            </li>
          )
        )
      }
    </ul>

    <Pagination page={page} />
  </section>
</BaseLayout>
