---
import HeaderLink from './HeaderLink.astro';
import Avatar from './Avatar.astro';
import Dropdown from './Dropdown.astro';

import { ENV } from '../config/env';

import { featureFlags } from '../config/featureFlags';

const siteTitle = ENV.SITE.TITLE;
const homeSlug = `/`;
const projectsSlug = `/projects`;
const aboutSlug = `/about`;
const contactSlug = `/contact`;
const avatarPic = '/images/me-2.webp';
---

<header class="bg-gray-100 text-gray-800 fixed w-full">
  <div class="border-2 px-4 py-2">
    <nav class="flex items-center justify-between text-gray-800">
      <h2 class="text-lg font-extrabold">
        <a href={homeSlug} class="no-underline hover:text-cyan-700 transition-colors duration-200"
          >{siteTitle}</a
        >
      </h2>
      <!-- Desktop Links -->
      <div class="hidden custom:flex custom:items-center custom:space-x-2 ml-auto">
        <HeaderLink href={homeSlug} class="hover:text-cyan-700 transition-colors duration-200"
          >Inicio</HeaderLink
        >
        <HeaderLink href={aboutSlug} class="hover:text-cyan-700 transition-colors duration-200"
          >Quién soy</HeaderLink
        >
        {featureFlags.enableHomelabs && (
          <HeaderLink href={projectsSlug} class="hover:text-cyan-700 transition-colors duration-200"
            >HomeLab</HeaderLink>
        )}
        {featureFlags.enableContact && (
          <HeaderLink href={contactSlug} class="hover:text-cyan-700 transition-colors duration-200"
            >Videollamada</HeaderLink>
        )}
      </div>
      <Avatar src={avatarPic} link={homeSlug} />
      <button
        id="menu-toggle"
        class="custom:hidden border-2 border-gray-400 bg-gray-100 px-2 py-1 rounded transition-colors duration-700"
      >
        &#9776;
      </button>
    </nav>
  </div>
  <Dropdown />
</header>

<script is:inline>
  const toggleButton = document.getElementById('menu-toggle');
  const menu = document.getElementById('menu');
  const menuLinks = document.querySelectorAll('.menu-link');

  function closeMenu() {
    if (!menu.classList.contains('hidden')) {
      menu.classList.add('hidden');
      toggleButton.classList.remove('border-gray-800', 'bg-gray-300', 'text-gray-800');
      toggleButton.classList.add('border-gray-600', 'bg-gray-100', 'text-gray-800');
    }
  }

  document.addEventListener('DOMContentLoaded', closeMenu);

  toggleButton.addEventListener('click', () => {
    menu.classList.toggle('hidden');

    if (menu.classList.contains('hidden')) {
      toggleButton.classList.remove('border-gray-800', 'bg-gray-300', 'text-gray-800');
      toggleButton.classList.add('border-gray-600', 'bg-gray-100', 'text-gray-800');
    } else {
      toggleButton.classList.add('border-gray-800', 'bg-gray-300', 'text-gray-800');
      toggleButton.classList.remove('border-gray-600', 'bg-gray-100', 'text-gray-800');
    }
  });

  menuLinks.forEach((link) => {
    link.addEventListener('click', closeMenu);
  });

  window.addEventListener('scroll', closeMenu);
  window.addEventListener('resize', closeMenu);
  window.addEventListener('orientationchange', closeMenu);
</script>
